@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<h4>BabylonJs and Blazor</h4>

<canvas @ref="@CanvasElement" id="renderCanvas" touch-action="none"></canvas>
<button class="btn btn-primary" @onclick="() => InteropDummy3.Show(JSRuntime)">Show Loading UI</button>
<button class="btn btn-primary" @onclick="() => InteropDummy3.Hide(JSRuntime)">Hide Loading UI</button>
<button class="btn btn-primary" @onclick="() => InteropDummy3.Idle(JSRuntime)">Idle</button>
<button class="btn btn-primary" @onclick="() => InteropDummy3.Walk(JSRuntime)">Walk</button>
<button class="btn btn-primary" @onclick="() => InteropDummy3.Run(JSRuntime)">Run</button>
@code {
    private ElementReference CanvasElement;

    protected override async Task
        OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InteropDummy3.ShowBabylon(JSRuntime, CanvasElement);
        }
    }   
}